body {
  font-family: 'Asap', sans-serif;
}

.nav-item {
  text-transform: uppercase;
}

.alert-danger{
  width: 100%;
  color: white;
  animation: blinkingBackground .8s infinite;
}
@keyframes blinkingBackground{
  0%		{ background-color: #f8d7da; border-color: #f8d7da;}
  100%	        { background-color: red; color: white;}
}