body {
  font-family: 'Asap', sans-serif;
}

.nav-item {
  text-transform: uppercase;
}

.alert-danger{
  width: 100%;
  color: #fff;
  animation: blinkingBackground .8s infinite;
  background-color: #025073;
}
@keyframes blinkingBackground{
  0%		{ border-color: #fff;}
  100%	        { background-color: #025073; color: #fff; border-color: #025073;}
}