body {
  font-family: 'Asap', sans-serif;
}

.nav-item {
  text-transform: uppercase;
}

.alert-danger{
  width: 100%;
  color: #721c24;
  animation: blinkingBackground .8s infinite;
}
@keyframes blinkingBackground{
  0%		{ background-color: #f8d7da; border-color: #721c24;}
  100%	        { background-color: #f8d7da; color: #721c24;}
}