{% extends 'base.html' %} {% block content %} {% load static %}



<header>
  <div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="..." class="d-block w-100" alt="...">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</header>

<main>

    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  CUSTOMER HANDLING
                </h5>

                <h6><b>The Five Pillars of Great Customer Care.</b></h6>
                <p>
                  <b>PASSION</b> - What does this look like? Do a demo and practice in meeting 
Customers need to know that you are fighting for them and that their satisfaction is important to you. This can be seen/heard in the tone of voice, energy, and attentiveness to listen.
                </p>

                <p>
                  <b>EMPATHY</b> - What does this look like? Do a demo and practice in meeting
Empathy is the ability to understand and share the feelings of another. Customers need to realize that you truly understand what they want and know that you have put yourself in their shoes.
                </p>


                <p>
                  <b>COMMUNICATION</b> - What does this look like? Do a demo and practice in meeting
As a call center, Communication is our priority. Always communicate with the customers about what is being done and never leave a customer hanging wondering what has been done or what is being done to help them.
                </p>

                <p>
                  <b>ACTION</b> - What does this look like? Do a demo and practice in meeting
 If a customer feels like we don’t care about certain problems, they won’t bother using the system again (ordering again, Sending or any other). You need to explain to them what we are going to fix the problem, so they know we take the business seriously and are not just trying to shut them up. Give them the time frames and make sure the issue is resolved. It's always good to under promise and over deliver than vice versa.
                </p>

                  
                  

                </div>
              </div>
        </div>
        <div class="col-md-4">
          <h5 class="card-title">Recent Notifications</h5>
          <div class="alert alert-success" role="alert">
            A simple success alert—check it out!
          </div>
          <div class="alert alert-danger" role="alert">
            A simple danger alert—check it out!
          </div>
        </div>
      </div>
    </div>

    <hr class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">
                Helpful links
              </h5>
  
              <ul>
                <li><a href="">CARE HANDBOOK</a></li>
                <li><a href="">CARE HANDBOOK</a></li>
                <li><a href="">CARE HANDBOOK</a></li>
              </ul>
    
            </div>
          </div>
        </div>
      </div>
    </div>



</main>

{% endblock content %}
