{% extends 'base.html' %} {% block content %} {% load static %}



<header class="jumbotron">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <h1>SafeBoda Support</h1>
    </div>
  </div>
</header>

<main>

    <div class="container">
      <div class="row">
        <div class="col-md-7">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Customer Outbound
                </h5>
                  
                  <p>
                      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore est in labore, voluptas sint dolorem iusto laboriosam non, nam voluptate alias voluptatibus ut doloremque eligendi accusantium unde explicabo id. Soluta.
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores accusantium placeat eum vel, sit, iste facere porro atque, nam modi perferendis ea deleniti esse suscipit corrupti velit obcaecati vero ab!
                  </p>
                  

                </div>
              </div>
        </div>
        <div class="col-md-5">
          <h5 class="card-title">FAQs</h5>
          <details>
            <summary>CUSTOMER-INCOMING:</summary>
            <p>CS Agent: “Thank you for calling Safeboda, Brenda speaking, how may I help you?”
                Customer: “Yes(Customer mentions their problem)”
                CS Agent: Use playback here. “Ooh okay,May I please get your name and your phone number?”
                Customer: “My name is Mercy and my number is 0794515330.”
                CS Agent: “Ok, kindly give me a minute to check out your details in our system. 
                (Incase it's taking longer than expected or you need help from someone else.
                CS Agent:”Can I kindly call you back in a moment since it's taking longer than I expected/Do you mind holding the line because……....”
                (Problem resolved)
                Customer:Thank you so much for the help./i will be waiting for your feedback.
                CS Agent:Is there anything else I can help you with?
                        If yes?Okay……agent asks the customer what they need.
                        If No?Thank you for using safeboda.Have a great day.
                NB
                The agent always waits for the customer to go off and then they turn off the call.
                </p>

          </details>
          <details>
              <summary>·COLD CALLS(On boarding):</summary>
              <p>Cold calls are a very important part of the after sales process and are a good way to sell.
                  This is how cold calls should be made:
                  CS Agent: “Hello Eva, this is Sandra calling in from Safeboda.”
                      Agent must call the customer by name, and these names are known because they already exist in a database. This will help keep the attention of the customer as opposed to talking to a stranger.
                  CS Agent: “We noticed that you downloaded the app but you have not used it,Is there any reason why?
                  “We noticed that you downloaded the app but you have not used it. I’m calling to see what challenges you are facing with the app.” -Tara
                  (Agent is silent giving the customer a chance to hear from them) Use split attention and precision listening
                  Customer: “Customer gives their reason why” Use playback here.-Tara
                  (Agent should be able to answer any questions or help troubleshoot any issues.If not escalate in real time.
                  CS Agent: “Agent talks about any promotion working during the month and how the customer can enjoy it”
                  CS Agent;Thank you for your time and hope you enjoy your experience with safeboda.
                                   Please feel free to contact us on our toll free number incase of anything.
                  </p>
  
            </details>
            <details>
                <summary>Question</summary>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem, est ratione tempore qui dolor nemo alias eos minus fugit, architecto culpa neque necessitatibus quae quidem ad doloribus illum id!</p>
    
              </details>
              <details>
                  <summary>Question</summary>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem, est ratione tempore qui dolor nemo alias eos minus fugit, architecto culpa neque necessitatibus quae quidem ad doloribus illum id!</p>
      
                </details>
        </div>
      </div>
    </div>

    <hr class="container">

    <div class="container">
        <div class="row">
          <div class="col-md-7">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">
                    #Ticket Type 1: Customer
                  </h5>
                    
                    <p>
                        Categories
                        Account settings
                        General
                        Payments
                        Pricing
                        Product
                        SafeBoda
                        <p></p>
                        -Account Settings
                        Change Phone number.
                        Confirm from the customer the number they use on the app.
                        Enter the number in the SB Portal on the customer section.
                        Probe the customer to find out why they want their phone number changed.
                        Edit the number from the Portal.
                        Create a ticket in the CRM tool and close it.
                        <p></p>
                        
                        Deactivation request <br>
                        Confirm from the customer the number they use on the app.
                        Enter the number in the SB Portal on the customer section.
                        Probe the customer to find out why they want their account deactivated.
                        Notify the customer that their issue will be resolved within 24 hours.
                        
                    </p>
                    
  
                  </div>
                </div>
          </div>
          <div class="col-md-5">
            <h5 class="card-title">FAQs</h5>
            <details>
              <summary>General</summary>
              <ul>
              <li>App Education</li>
                  <li>Follow up</li>
                  <li>Geofence Suggestions</li>
                  <li>Inquiries</li>
                  <li>Negative Feedback</li>
                  <li>Positive Feedback</li>
                  
                </ul>
  
            </details>
            <details>
                <summary>Payments</summary>
                <ul>
                  <li>Beyonic failures</li>
                    <li>MTN Mobile money failures</li>
                    <li>Promo code queries</li>
                    <li>Top up not reflecting</li>
                    <li>Pending Transaction</li>
                    
                    </ul>
    
              </details>
              <details>
                  <summary>Question</summary>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem, est ratione tempore qui dolor nemo alias eos minus fugit, architecto culpa neque necessitatibus quae quidem ad doloribus illum id!</p>
      
                </details>
                <details>
                    <summary>Question</summary>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis rem, est ratione tempore qui dolor nemo alias eos minus fugit, architecto culpa neque necessitatibus quae quidem ad doloribus illum id!</p>
        
                  </details>
          </div>
        </div>
      </div>
  
      <hr class="container">

    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="card">

            <div class="card-body">
              <h5 class="card-title">
                Helpful links
              </h5>
  
              <ul>
                <li><a href="">CARE HANDBOOK</a></li>
                <li><a href="">CARE HANDBOOK</a></li>
                <li><a href="">CARE HANDBOOK</a></li>
              </ul>
    
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="container">


    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>Ask A Question</h3>
            <form>
                <div class="form-group">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group">
                  <label for="inputAddress">Name</label>
                  <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                  <label for="inputAddress2">Subject</label>
                  <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                </div>
                
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Question</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="6"></textarea>
                  </div>
                <button type="submit" class="btn btn-primary">Send</button>
              </form>
        </div>
        <div class="col-md-6">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                  <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/promo.jpeg' %}" class="img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>First slide label</h5>
                      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/promo1.jpeg' %}" class="img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Second slide label</h5>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/promo.jpeg' %}" class="img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Third slide label</h5>
                      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div>
      </div>
    </div>
</main>

{% endblock content %}
