{% extends 'base.html' %}

{% block content %}

<div class="container">
    
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'search' %}">
                <div class="input-group mb-3">
                    <input type="search" name="q" class="form-control"  aria-describedby="helpText">
                    
                    <div class="input-group-append">
                        <span class="input-group-text">SEARCH</span>
                    </div>
                    
                </div>
            </form>
        </div>
        <div class="col-md-12 mt-4">
            {% for product in products %}
            <details class="card p-3 shadow">
                <summary class="mt-2">{{product.name}}</summary>
                {% for activity in product.scenario_set.all %}
                <h3>{{activity.title}}</h3>
                <p>{{activity.description|safe}}</p>
                {% endfor %}

            </details>
            {% endfor %}
        </div>


    </div>
    

</div>

{% endblock content %}